{% extends 'base.html' %}
{% load static %}
{% block title %}admin{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3 shadow p-5">
       <h2>HELLO ADMIN</h2>
    <hr>
   
   <div class="col-sm-6 offset-sm-3 shadow p-5">
       
     
      
     <a href="/admin_login" class="btn btn-info" role="button">Login</a>
     <a href="/adminregistration" class="btn btn-info" role="button">Register</a>
      
    
   </div>
  </div>
 </div>
{% endblock main-content %}