{% extends 'base.html' %}
{% load static %}
{% block title %}student{% endblock title %}
{% block main-content %}

<div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3 shadow p-5">
         <h2>HELLO STUDENT</h2>
      <hr>
     
     <div class="col-sm-6 offset-sm-3 shadow p-5">
         
       
       <button href="#">login</button>
       <button href="#">register</button><br>
        
        
      
     </div>
    </div>
   </div>

 
{% endblock main-content %}